/* comon css starts here */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    font-family: "Poppins", serif;
}


/* comon css end here */


/* header css start */

#header .top {
    background: #000;
}

#header .top .logo {
    width: 11%;
}

#header .top_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
    padding: 10px 0;
}

#header .top .input {
    width: 45%;
}

#header .input {
    padding: 5px 0;
    position: relative;
}

#header .input input {
    border: none;
    padding: 0 40px 0 20px;
    font-weight: normal;
    border-radius: 4px;
    margin-bottom: 0;
}

#header .input .search {
    font-size: 15px;
    height: 42px;
    background: #fff;
    outline: none;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-transform: capitalize;
}

#header .input .icon {
    position: absolute;
    right: 8px;
    top: 14px;
}

#header .input .icon i {
    font-size: 18px;
}

#header .top .items {
    width: 40%;
}

#header .items {
    display: flex;
    column-gap: 25px;
}

#header .item {
    display: flex;
    align-items: center;
}

#header .item .icon i {
    color: #ef4a23;
    font-size: 24px;
    width: 30px;
    height: 36px;
    line-height: 36px;
}

#header .item .content h5 {
    font-size: 15px;
    font-weight: normal;
    color: #fff;
}

#header .item .content p {
    font-size: 11px;
    font-weight: normal;
    color: #838383;
}

#header .button a {
    display: inline-block;
    padding: 0 20px;
    line-height: 38px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    border-radius: 4px;
    background: linear-gradient( 45deg, #00237e, #3749bb, #0bc1e9, #3749bb, #00237e);
    background-size: 400% 400%;
    border: none;
    line-height: 42px;
}


/* nev part start */

.nav {
    position: relative;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.nav-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 100%;
    position: relative;
    left: -10px;
}

.nav-nav .nav-item {
    position: relative;
}

.nav-nav>.nav-item {
    margin-left: 0;
}

.nav-nav .nav-item:last-child {
    margin: 0;
}

.nav-nav .nav-link {
    padding: 0 7px 0 7px;
    line-height: 50px;
    white-space: nowrap;
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #222;
    position: relative;
    transition: all linear .1s;
}

.nav-nav .nav-link:hover {
    color: var(--s-primary);
    text-decoration: none;
}

.nav-nav>.nav-item:hover>.nav-link {
    color: #ef4a23;
}

.nav-nav .nav-item .drop-down {
    display: none;
    position: absolute;
    left: 10px;
    background: #fff;
    z-index: 99;
    padding: 5px 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 10px 15px rgba(0, 0, 0, 0.1), 0 -3px 0 0 #ef4a23;
}

.nav-nav .nav-item:hover>.drop-down {
    display: block;
}

.nav-nav .drop-down li {
    display: block;
    position: relative;
}

.nav-nav .multi-col>.drop-down {
    width: 400px;
}

.nav-nav .multi-col .drop-down>ul {
    display: inline-block;
    position: relative;
}

.nav-nav .drop-down li.has-child:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    border-color: transparent transparent transparent #ef4a23;
    position: absolute;
    right: 10px;
    top: 12px;
    opacity: 0.4;
}

.nav-nav .drop-down li .nav-link,
.nav-nav .drop-down li a {
    display: block;
    font-weight: normal;
    font-size: 14px;
    white-space: normal;
    line-height: 19px;
    padding: 4px 15px;
    width: 200px;
    color: #222;
}

.nav-nav .drop-down li:hover>a {
    background: var(--s-primary);
    color: #fff;
}

.nav-nav .nav-item:hover>.drop-menu-2 {
    left: 100%;
    top: -5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.2);
}

.nav-nav>.nav-item:nth-child(10):hover .drop-menu-1,
.nav-nav>.nav-item:nth-child(11):hover .drop-menu-1,
.nav-nav>.nav-item:nth-child(12):hover .drop-menu-1,
.nav-nav>.nav-item:nth-child(13):hover .drop-menu-1,
.nav-nav>.nav-item:nth-child(14):hover .drop-menu-1,
.nav-nav>.nav-item:nth-child(15):hover .drop-menu-1,
.nav-nav>.nav-item:nth-child(16):hover .drop-menu-1,
.nav-nav>.nav-item:nth-child(17):hover .drop-menu-1,
.nav-nav>.nav-item:nth-child(18):hover .drop-menu-1 {
    right: 10px;
    left: auto;
}

.nav-nav>.nav-item:nth-child(10):hover .drop-menu-2,
.nav-nav>.nav-item:nth-child(11):hover .drop-menu-2,
.nav-nav>.nav-item:nth-child(12):hover .drop-menu-2,
.nav-nav>.nav-item:nth-child(13):hover .drop-menu-2,
.nav-nav>.nav-item:nth-child(14):hover .drop-menu-2,
.nav-nav>.nav-item:nth-child(15):hover .drop-menu-2,
.nav-nav>.nav-item:nth-child(16):hover .drop-menu-2,
.nav-nav>.nav-item:nth-child(17):hover .drop-menu-2,
.nav-nav>.nav-item:nth-child(18):hover .drop-menu-2 {
    left: inherit;
    right: 100%;
}

.p-opt-vals label:has(:checked) {
    box-shadow: 0 0 0 1px var(--s-primary) inset;
    background: var(--s-primary);
    color: #fff;
}


/* nev part end */


/* header top part end */


/* bnner part part start */

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/MaterialIcons-Regular.eot);
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(/fonts/MaterialIcons-Regular.woff2) format('woff2'), url(/fonts/MaterialIcons-Regular.woff) format('woff'), url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.material-icons {
    height: 24px;
    width: 24px;
}

img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    height: auto;
}

a:hover {
    color: #ef4a23;
}

button {
    cursor: pointer;
}

.btn {
    background: #3749bb;
    display: inline-block;
    border: 2px solid #3749bb;
    padding: 0 20px;
    margin: 0;
    height: 42px;
    line-height: 38px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    text-align: center;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.btn:hover {
    box-shadow: 0 50px rgba(0, 0, 0, 0.2) inset;
    color: #fff;
    text-decoration: none;
}

input {
    font-size: 15px;
    height: 42px;
    padding: 5px 15px;
    background: #fff;
    outline: none;
    width: 100%;
    font-family: "Trebuchet MS", sans-serif;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input:focus {
    border: 1px solid #aaa;
}

.st-outline {
    background: none;
    color: #3749bb;
}

.st-outline:hover {
    background: #3749bb;
    color: #fff;
    text-decoration: none;
}

.p-tb-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.bg-gray {
    background: #f2f4f8;
}

.ws-box {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.loader {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background: none;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 3px solid #ef4a23;
    border-bottom: 3px solid #3749bb;
    border-left: 3px solid #3749bb;
    border-right: 3px solid #3749bb;
}

.loader:after {
    position: absolute;
    top: 22px;
    left: 22px;
    background: #3749bb;
    height: 20px;
    width: 20px;
    content: "";
    border-radius: 50%;
    -webkit-animation: fade 1s linear infinite;
    animation: spin 1s linear infinite;
}

.f-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99999;
    background: #081621;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
    width: 59px;
    height: 59px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1), -5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.f-btn i {
    margin: 10px 0 5px;
}

.f-btn .label {
    opacity: .8;
}

.f-btn.cmpr-toggler {
    bottom: 90px;
}

.f-btn:hover {
    background: #3749bb;
}

.f-btn span.counter {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -10px;
    top: -10px;
    background: #ef4a23;
    line-height: 20px;
    border-radius: 16px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.drawer {
    position: fixed;
    right: -400px;
    top: 0;
    background: #fff;
    height: 100%;
    width: 360px;
    z-index: 999999;
    max-width: 100%;
    transition: all 300ms ease;
    display: flex;
    flex-direction: column;
}

.drawer .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -35px;
}

.drawer>.title {
    background: #01132D;
    padding: 0 20px;
    position: relative;
    flex: 0 0 50px;
}

.drawer .title .mc-toggler,
.drawer .title .cmpr-toggler {
    color: #fff;
    position: absolute;
    right: 8px;
    top: 0;
    cursor: pointer;
}

.drawer .title .mc-toggler i,
.drawer .title .cmpr-toggler i {
    font-size: 20px;
    line-height: 50px;
}

.drawer .title p {
    margin: 0;
    line-height: 50px;
    font-weight: 600;
    color: #fff;
}

.drawer .content {
    overflow-y: auto;
    flex: 1 1 auto;
}

.drawer .content {
    overflow-y: auto;
    flex: 1 1 auto;
    min-height: 100px;
}

.drawer .footer {
    flex: 0 0 auto;
    padding: 5px 0 43px;
    position: relative;
}

.drawer.cmpr-panel {
    top: auto;
    bottom: 90px;
    height: 0;
    right: 20px;
    overflow: hidden;
    transition: none;
}

.drawer.cmpr-panel .footer {
    border: none;
    flex: 0 0 auto;
    padding: 10px;
    text-align: right;
}

.sliding_text_wrap {
    padding: 12px 20px 8px;
    background: #fff;
    margin-top: 30px;
    border-radius: 33px;
    font-size: 14px;
    color: #444;
    min-height: 40px;
}

.home-slider {
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.03);
    position: relative;
}

.home-slider .slide:not(:first-child) {
    display: none;
}

.ads {
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.03);
}

.ads img {
    max-width: 100%;
}

.mdl-compare {
    background: #FFE8A1;
    margin-bottom: 30px;
    padding: 25px 30px;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.03);
}

.mdl-compare h4 {
    color: #000;
    text-align: center;
    margin-bottom: 2px;
}

.mdl-compare p {
    color: #666666;
    text-align: center;
    margin: 0 0 14px;
    font-size: 14px;
}

.cmpr-field input {
    border: none;
    padding: 5px 30px 5px 15px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.05);
    text-overflow: ellipsis;
}

.mdl-compare button.st-outline {
    width: 100%;
}

.cmpr-field {
    position: relative;
}

.cmpr-field i {
    position: absolute;
    right: 5px;
    top: 9px;
    opacity: .5;
}

.m-home {
    margin-top: 50px;
}

.c-card {
    display: flex;
    padding: 15px 20px;
    align-items: center;
}

.c-card .ic {
    background: #ef4a23;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    margin-right: 20px;
}

.c-card .ic .material-icons {
    line-height: 50px;
    color: #fff;
}

.c-card .blurb {
    color: #000;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

.r-lnk-wrap a:hover {
    text-decoration: none;
}

.r-lnk-wrap .c-card p {
    color: #444;
    margin: 0;
}


/* bnner part part end */


/* category part start  */

#category {
    margin-top: 100px;
    margin-bottom: 100px;
}

#category .header {
    text-align: center;
}

#category .header h3 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 5px;
}

#category .header p {
    margin-bottom: 10px;
    font-size: 15px;
    color: #01132d;
    line-height: 26px;
    margin-bottom: 25px;
}

#category .cat_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}

#category .item_box {
    flex: 0 0 12.33%;
    padding: 0px 5px;
    margin-bottom: 20px;
    text-align: center;
}

#category .cat_wrapper {
    display: block;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
    transition: all linear.2s;
}

#category .cat_wrapper:hover p {
    color: #ef4a23;
}

#category .cat_wrapper img {
    width: 48px;
    padding: 15px 0;
}

#category .cat_wrapper p {
    font-size: 14px;
    color: #01132d;
    line-height: 26px;
}

#category .find_store {
    background: linear-gradient(125deg, #0bc1e9, #3749bb, #00237e);
    animation: gradient 15s ease infinite;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 50px;
}

#category .find_store .left {
    display: flex;
    align-items: center;
}

#category .find_store .left i {
    font-size: 48px;
}

#category .find_store h3 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 5px;
}

#category .find_store p {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

#category .find_store .right a {
    background: #ef9919;
    padding: 17px 50px;
    border-radius: 50px;
    font-size: 15px;
    line-height: 20px;
    height: auto;
    border: none;
    width: fit-content;
    margin-left: auto;
    color: #081621;
    display: flex;
    align-items: center;
    column-gap: 10px;
}


/* category part end  */