/* comon css starts here */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ol.ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  font-family: "Poppins", serif;
}
/* comon css end here */
/* header css start */
#header .top {
  background: #000;
}
#header .top .logo {
  width: 11%;
}
#header .top_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
  padding: 10px 0;
}
#header .top .input {
  width: 45%;
}
#header .input {
  padding: 5px 0;
  position: relative;
}
#header .input input {
  border: none;
  padding: 0 40px 0 20px;
  font-weight: normal;
  border-radius: 4px;
  margin-bottom: 0;
}
#header .input .search {
  font-size: 15px;
  height: 42px;
  background: #fff;
  outline: none;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-transform: capitalize;
}
#header .input .icon {
  position: absolute;
  right: 8px;
  top: 14px;
}
#header .input .icon i {
  font-size: 18px;
}
#header .top .items {
  width: 40%;
}
#header .items {
  display: flex;
  column-gap: 25px;
}
#header .item {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
#header .item .icon i {
  color: #ef4a23;
  font-size: 24px;
  width: 30px;
  height: 36px;
  line-height: 36px;
}
#header .item .content h5 {
  font-size: 15px;
  font-weight: normal;
  color: #fff;
}
#header .item .content p {
  font-size: 11px;
  font-weight: normal;
  color: #838383;
}
#header .button a {
  display: inline-block;
  padding: 0 20px;
  line-height: 38px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  border-radius: 4px;
  background: linear-gradient(
    45deg,
    #00237e,
    #3749bb,
    #0bc1e9,
    #3749bb,
    #00237e
  );
  background-size: 400% 400%;
  border: none;
  line-height: 42px;
}
/* header top part end */
/* category part start  */
#category {
  margin-top: 100px;
  margin-bottom: 100px;
}
#category .header {
  text-align: center;
}
#category .header h3 {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 5px;
}
#category .header p {
  margin-bottom: 10px;
  font-size: 15px;
  color: #01132d;
  line-height: 26px;
  margin-bottom: 25px;
}
#category .cat_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;
}
#category .item_box {
  flex: 0 0 12.33%;
  padding: 0px 5px;
  margin-bottom: 20px;
  text-align: center;
}
#category .cat_wrapper {
  display: block;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
}
#category .cat_wrapper img {
  width: 48px;
  padding: 15px 0;
}
#category .cat_wrapper p {
  font-size: 14px;
  color: #01132d;
  line-height: 26px;
}
#category .find_store {
  background: linear-gradient(125deg, #0bc1e9, #3749bb, #00237e);
  animation: gradient 15s ease infinite;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  margin-top: 50px;
}
#category .find_store .left {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
#category .find_store .left i {
  font-size: 48px;
}
#category .find_store h3 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 5px;
}
#category .find_store p {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}
#category .find_store .right a {
  background: #ef9919;
  padding: 17px 50px;
  border-radius: 50px;
  font-size: 15px;
  line-height: 20px;
  height: auto;
  border: none;
  width: fit-content;
  margin-left: auto;
  color: #081621;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/* category part end  */
